<?xml version="1.0" encoding="utf-8"?>
<robot name="u_bot">

	<link name="robot_lidar">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="package://description/meshes/lidar.stl"/>
			</geometry>
			<material name="Yellow"/>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="package://description/meshes/lidar.stl"/>
			</geometry>
		</collision>
	</link>

	<joint name="lidar_to_base" type="fixed">
		<origin xyz="0 0 0.12" rpy="0 0 ${PI}"/>
		<parent link="robot_base"/>
		<child link="robot_lidar"/>
		<axis xyz="0 0 0"/>
	</joint>
</robot>
